{% extends 'Login/login.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center align-items-center mt-5">
      <div class="col-md-4">
        {% if error %}
          <div class="alert alert-danger text-center" role="alert">
            {{ error }}
          </div>
        {% endif %}
        <div class="card border-0 shadow">
          <div class="card-header text-center">
            <h2>Iniciar sesión como Administrador</h2>
          </div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              <div class="mb-3">
                <label for="id_email" class="form-label">Correo electrónico</label>
                <input type="email" name="email" class="form-control" id="id_email" required>
              </div>
              <div class="mb-3">
                <label for="id_password" class="form-label">Contraseña</label>
                <input type="password" name="password" class="form-control" id="id_password" required>
              </div>
              <button type="submit" class="btn btn-primary w-100">Iniciar sesión</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}


